include README.md
include LICENSE
include src/pyopmnearwell/core/*
include src/pyopmnearwell/ml/*
include src/pyopmnearwell/templates/co2eor/*
include src/pyopmnearwell/templates/co2store/*
include src/pyopmnearwell/templates/common/*
include src/pyopmnearwell/templates/h2store/*
include src/pyopmnearwell/templates/saltprec/*
include src/pyopmnearwell/utils/*
include src/pyopmnearwell/visualization/*