name: Run pyopmnearwell

on:
 push:
   branches:
     - main
 pull_request:
   
jobs:
  run-pyopmnearwell-local:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python 3.12
      uses: actions/setup-python@v2
      with:
        python-version: 3.12
    
    - name: Install Flow Simulator
      run: |
        sudo apt-get update
        sudo apt-get install software-properties-common
        sudo apt-add-repository ppa:opm/ppa
        sudo apt-get update
        sudo apt-get install mpi-default-bin
        sudo apt-get install libopm-simulators-bin
        
    - name: Install test dependecies
      run: |
        pip install --upgrade pip setuptools wheel
        pip install -r dev-requirements.txt
        pip install tensorflow
        
    - name: Install pyopmnearwell
      run: |
        pip install .
        
    - name: Check code style and linting 
      run: |
        black --check src/ tests/
        pylint src/ tests/
        mypy --ignore-missing-imports src/ tests/
      
    - name: Run the tests
      run: |
        pytest --cov=pyopmnearwell --exitfirst --cov-report term-missing tests/

    - name: Build documentation
      run: |
        pushd docs
        make html
